[main]
updateURL = http://tl-beta.paas.allizom.org/...
logDir = /media/h4writer/f5418134-7870-4c53-86bb-c2b7ca949ce2/tracelogger/
toolsv1 = /home/h4writer/Build/tracelogger/tools_v1
toolsv2 = /home/h4writer/Build/tracelogger/tools_v2
benchmarks = /home/h4writer/Build/tracelogger/benchmarks

; Path to a JS bin for running parts of the engine that are written in JS.
js = /home/h4writer/Build/mozilla-inbound/js/src/build-64-parallel/js 

[x86]
shell = /home/h4writer/Build/mozilla-inbound/js/src/build-tracelogging/dist/bin/js

[ggcx86]
shell = /home/h4writer/Build/mozilla-inbound/js/src/build-tracelogging-ggc/dist/bin/js
